{block name="title" prepend}{$LNG.team}{/block}
{nocache}
{block name="content"}
<style>
	#content {
		max-width: 1500px;
	}
	table.team th {
		height: 14px;
  		padding: 4px 6px;
	}
	table.team td {
		padding: 2px 3px;
		text-align: center;
	}
</style>
<h4>{$LNG.kontakt}</h4>
<table class="team" style="border-collapse: separate; border-spacing: 2px;">
	<tr>
		<th>{$LNG.teamIngameName}</th>
		<th>{$LNG.teamDiscordName}</th>
		<th>{$LNG.teamRole}</th>
		<th>{$LNG.teamPlayer}</th>
		<th>{$LNG.teamCommunity}</th>
		<th>{$LNG.teamAdmin}</th>
		<th>{$LNG.teamDatabase}</th>
		<th>{$LNG.teamTickets}</th>
		<th>{$LNG.teamScripte}</th>
	</tr>
	<tr>
		<td>DawnOfTheUwe</td>
		<td>DawnOfTheUwe</td>
		<td>{$LNG.teamMod}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
	</tr>
	<tr>
		<td>Hackbrett</td>
		<td>Hackbrett</td>
		<td>{$LNG.teamMod}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
	</tr>
	<tr>
		<td>Adman</td>
		<td>Hyman</td>
		<td>{$LNG.teamDev}, {$LNG.teamEmergency}, {$LNG.teamMod}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
	</tr>
	<tr>
		<td>Masterspiel</td>
		<td>Masterspiel</td>
		<td>{$LNG.teamMod}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
	</tr>
	<tr>
		<td>reflexrecon</td>
		<td>reflexrecon</td>
		<td>{$LNG.teamDev}, {$LNG.teamEmergency}, {$LNG.teamMod}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
	</tr>
	<tr>
		<td>Schmopfi</td>
		<td>Schmopfi</td>
		<td>{$LNG.teamCommunity}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
	</tr>
	<tr>
		<td>Timo_Ka</td>
		<td>Timo_Ka</td>
		<td>{$LNG.teamDev}, {$LNG.teamEmergency}, {$LNG.teamMod}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamNo}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
		<td>{$LNG.teamYes}</td>
	</tr>
  <tr>
    <td>Atain</td>
    <td>Atain</td>
    <td>{$LNG.teamDev}</td>
    <td>{$LNG.teamYes}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamYes}</td>
  </tr>
  <tr>
    <td>DeepNorth</td>
    <td>DeepNorth</td>
    <td>{$LNG.teamDev}</td>
    <td>{$LNG.teamYes}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
    <td>{$LNG.teamNo}</td>
  </tr>
</table>

<h3>{$LNG.teamAlumni}</h3>
<p>{$LNG.teamAlumniLong}: ava, Axel auf dem Floß, Eichhorn, Captain Mrgl, Fionera, Klarname, Rosenreemann & Slippy</p>

<h4>{$LNG.teamLegend}:</h4>
<table class="team" style="border-collapse: separate; border-spacing: 2px;">
	<tr>
		<td>
			{$LNG.teamMod}
		</td>
		<td>
			{$LNG.teamModLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamEmergency}
		</td>
		<td>
			{$LNG.teamEmergencyLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamCommunity}
		</td>
		<td>
			{$LNG.teamCommunityLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamDev}
		</td>
		<td>
			{$LNG.teamDevLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamAdmin}
		</td>
		<td>
			{$LNG.teamAdminLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamTickets}
		</td>
		<td>
			{$LNG.teamTicketsLong}
		</td>
	</tr>
	<tr>
		<td>
			{$LNG.teamScripte}
		</td>
		<td>
			{$LNG.teamScripteLong}
		</td>
	</tr>
</table>
{/block}
{/nocache}